.x-logo a {
  font-size: 40px;
  padding-left: 520px;
  padding-top: 3px; /* aligns app title with text in logo  */
  background: url('ESCIENCE_log_B_nl_long_cyanblack.jpg') no-repeat 5px 4px;
}

.x-title a {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  text-decoration:none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px; /* aligns app title with text in logo  */
}

#welcome h1 {
	font-size: 200%;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #333;
}

textarea.x-form-field {
	font-family: monospace;
}

path.line {
	fill: none;
	stroke: #66d;
	stroke-width: 2px;
}

path.metaboliteline {
	fill: none;
	stroke: #6d6;
	stroke-width: 2px;
}

.axis {
	shape-rendering: crispEdges;
}

.y.axis line,.y.axis path,.x.axis line,.x.axis path {
	fill: none;
	stroke: #ccc;
}

.peaks {
	fill: none;
	stroke-width: 1px;
	stroke: "#111";
}

.cutoffline {
	fill: none;
	stroke-width: 1px;
	stroke: #ddd;
	stroke-dasharray: 5px, 5px;
}

line.peak {
	stroke-width: 2px;
	stroke: #eee;
}

.marker {
	stroke: lightgray;
	fill: none;
	stroke-width: 1.5px;
	cursor: pointer;
}

.annotated {
	stroke: lightgreen;
}

.annotated:hover {
	stroke: darkgreen;
}

line.assigned {
	stroke: orange !important; /* #afdddd; */
}

.annotatedandassigned {
	stroke: #F4A460;
}

.selected {
	fill: darkgreen !important;
}

line.mspeak {
	stroke-width: 1px;
	stroke: black;
}

.fragmenttree .x-grid-cell-inner {
	height: 106px !important;
}

#resultsinfo {
	padding: 5px;
}

.infotable td {
	padding-right: 30px;
}

svg {
	background: white;
}

/* shared styles for the ActionColumn icons */
.x-action-col-cell img {
	height: 16px;
	width: 16px;
	cursor: pointer;
}
