.project
.pydevproject
Sygma/Sygma.egg-info/
Sygma/development.ini
Sygma/production.ini
*py[co]
Sygma/sygma/static/ext-*
Sygma/cover
Sygma/.coverage
Sygma/docs/_build/
Sygma/jsdoc
Sygma/data
env/
env64/
