# ignore eclipse project files
.project
.pydevproject
.settings
.classpath

/job/Magma.egg-info
/job/PKG-INFO
*.pyc
*.pyo
*.swp
*~
job/dist/
job/build/
job/.coverage
job/*.egg
job/cover/
job/env/
job/env2/
job/*.egg-info/
job/development.ini
job/production.ini
env/
