data/
development.ini
production.ini
magmaweb/static/ext-*
magmaweb/static/extjs-*
magmaweb/static/app/resultsApp-all*.js
cover
.coverage
.tox
docs/_build/
jsdoc
logs
env/
env64/
dist/
MAGMaWeb.egg-info/
TEST-*.xml
